/* width */

::-webkit-scrollbar {
    border-radius: 3px;
    width: 6px;
    height: 0px;
    top: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #e5e5e5;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #CDCDCD;
    border-radius: 3px;
    max-height: 39px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #CDCDCD;
    max-height: 39px;
}