/* width */

::-webkit-scrollbar {
    border-radius: 3px;
    width: 6px;
    height: 0px;
    top: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #e5e5e5;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #CDCDCD;
    border-radius: 3px;
    max-height: 39px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #CDCDCD;
    max-height: 39px;
}

.vue-simple-progress {
    background: #F2F2F2 !important;
    border-radius: 11px;
    height: 8px;
    margin-top: -2px;
    margin-bottom: 2px;
}
.vue-simple-progress-bar {
    background: linear-gradient(
99.96deg
, #FFD260 6.49%, #FF9900 92.13%) !important;
    border-radius: 11px;
}

.progress-campaign {
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex: 1 1 0%;
    padding: 0px 10px 0px 10px;
}